@function calcRems($pixels) {
    @return ($pixels / 16) * 1rem;
}

h1 {
  margin: 0;
  padding-top: calcRems(16);
  text-align: center;
}

h2 {
  margin: 0;
  padding-top: calcRems(16);
  text-align: center;
}